@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: color(noir);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 2px solid #191919;
  width: 8%;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar .logo {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}
.sidebar .logo .logo {
  width: 100%;
  height: 60%;
}
.sidebar .titre {
  text-align: center;
  width: 300%;
  height: 35%;
  transform: rotate(-90deg);
  margin-bottom: 100px;
}
.sidebar .titre h3 {
  width: 100%;
  font-size: 30px;
  text-transform: capitalize;
}
.sidebar .map {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: flex-end;
}
.sidebar .map .fond {
  background-color: #191919;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}
main .haut .infos {
  display: flex;
  width: 100%;
  height: 6vh;
  font-size: 20px;
  justify-content: flex-end;
  border-bottom: 2px solid #191919;
}
main .haut .infos .content {
  display: flex;
  width: 92%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
main .haut .infos .content .marquee {
  width: 92%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
main .haut .infos .content .marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 40s linear infinite;
          animation: marquee 40s linear infinite;
}
main .haut .infos .content .marquee2 span {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
main .haut .content {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
}
main .haut .content .gauche {
  width: 55%;
  height: 94vh;
  border-right: #191919 2px solid;
}
main .haut .content .gauche .haut {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  border-bottom: #191919 2px solid;
  align-items: center;
}
main .haut .content .gauche .haut .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-content: space-around;
}
main .haut .content .gauche .haut .content .titre {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .haut .content .gauche .haut .content .titre h1 {
  font-size: 75px;
  -webkit-text-stroke: 2px #191919;
  font-weight: 900;
}
main .haut .content .gauche .haut .content .titre h1 span {
  color: #D3DFF9;
}
main .haut .content .gauche .haut .content .titre h1:nth-child(2) span {
  color: #fff;
}
main .haut .content .gauche .haut .content .titre h1:nth-child(3) span {
  color: #626772;
}
main .haut .content .gauche .haut .content .cta {
  width: 35%;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-start;
}
main .haut .content .gauche .haut .content .cta .fond {
  border: 2px #191919 solid;
  background-color: #fff;
  font-size: 30px;
  height: 60px;
  width: 15.5%;
  position: absolute;
  z-index: -1;
  margin: -10px 0 0 -10px;
}
main .haut .content .gauche .haut .content .cta button {
  border: 2px #191919 solid;
  background-color: #D3DFF9;
  text-transform: uppercase;
  font-size: 30px;
  height: 100%;
  width: 100%;
}
main .haut .content .gauche .bas {
  height: 34vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .haut .content .gauche .bas .gauche {
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
}
main .haut .content .gauche .bas .droite {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .haut .content .gauche .bas .droite .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
main .haut .content .gauche .bas .droite .left img {
  width: 180px;
  height: 220px;
}
main .haut .content .gauche .bas .droite .right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
}
main .haut .content .gauche .bas .droite .right .titre {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}
main .haut .content .gauche .bas .droite .right .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  height: 80%;
  width: 85%;
}
main .haut .content .gauche .bas .droite .right .content .cta {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .haut .content .gauche .bas .droite .right .content .cta a {
  color: #191919;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
}
main .haut .content .gauche .bas .droite .right .content .cta a svg {
  margin-left: 20px;
}
main .haut .content .droite {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
main .haut .content .droite .content-bg {
  display: flex;
  position: relative;
  width: 85%;
  height: 93%;
  background-image: url(../images/f-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: flex-end;
}
main .haut .content .droite .content-bg .fond {
  display: flex;
  flex-direction: column;
  background-color: #D3DFF9;
  width: 50%;
  height: 35%;
}
main .haut .content .droite .content-bg .fond .space {
  height: 30%;
}
main .haut .content .droite .content-bg .fond .content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  height: 50%;
  justify-content: space-between;
}
main .haut .content .droite .content-bg .fond .content .titre {
  font-size: 10px;
}
main .haut .content .droite .content-bg .fond .content .txt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .haut .content .droite .content-bg .fond .content .txt p {
  width: 70%;
  font-size: 15px;
}
main .haut .content .droite .content-bg .fond .content .txt svg {
  margin-left: 10px;
  transform: rotate(90deg);
}/*# sourceMappingURL=style.css.map */