@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: color(noir);
  overflow-x: hidden;
}
* img {
  width: 10%;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #191919;
  background-color: #fff;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (min-width: 800px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 2px solid #191919;
    width: 7%;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
  }
}
.sidebar .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .sidebar .logo {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
  }
}
.sidebar .logo .logo {
  width: 60%;
  height: 100%;
}
@media (min-width: 800px) {
  .sidebar .logo .logo {
    width: 60%;
    height: 60%;
    margin-top: -30%;
  }
}
.sidebar .titre {
  display: flex;
  text-align: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
@media (min-width: 800px) {
  .sidebar .titre {
    text-align: center;
    width: 350%;
    transform: rotate(-90deg);
    margin-left: -130px;
  }
}
.sidebar .titre h3 {
  width: 100%;
  font-size: 15px;
  text-transform: capitalize;
}
@media (min-width: 800px) {
  .sidebar .titre h3 {
    width: 100%;
    font-size: 30px;
    text-transform: capitalize;
  }
}
.sidebar .jsp {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: flex-end;
}
@media (min-width: 800px) {
  .sidebar .jsp {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: flex-end;
  }
}
.sidebar .jsp .fond {
  background-color: #191919;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .sidebar .jsp .fond {
    background-color: #191919;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sidebar .jsp .fond svg {
  width: 70%;
  height: 70%;
}

section {
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-areas: "a a a b b" "c c c c c" "d d d d d" "d d d d d" "e e e e e" "e e e e e" "f f f f f";
  grid-auto-columns: 1fr;
  height: 200vh;
}
section .boite {
  grid-area: var(--grid-area);
  display: grid;
  place-items: center;
}
section .boite:nth-child(1) {
  border-right: solid 2px #191919;
  border-left: solid 2px #191919;
}
section .boite:nth-child(2) {
  border-right: solid 2px #191919;
}
section .boite:nth-child(3) {
  border: solid 2px #191919;
}
section .boite:nth-child(4) {
  border-right: solid 2px #191919;
  border-left: solid 2px #191919;
  border-bottom: solid 2px #191919;
}
section .boite:nth-child(5) {
  border-right: solid 2px #191919;
  border-left: solid 2px #191919;
  border-bottom: solid 2px #191919;
}
section .boite:nth-child(6) {
  border-right: solid 2px #191919;
  border-left: solid 2px #191919;
  border-bottom: solid 2px #191919;
}
section .boite:nth-child(7) {
  border-right: solid 2px #191919;
  border-bottom: solid 2px #191919;
}
@media (min-width: 800px) {
  section {
    width: 93%;
    margin-left: 7%;
    display: grid;
    grid-template-areas: "a a a a a d d d d" "a a a a a d d d d" "b b c c c d d d d" "e e e e e e f f f" "e e e e e e g g g" "e e e e e e g g g" "e e e e e e g g g";
    grid-auto-columns: 1fr;
    height: 190vh;
  }
  section .boite {
    grid-area: var(--grid-area);
    display: grid;
    place-items: center;
  }
  section .boite:nth-child(1) {
    border-right: solid 2px #191919;
    border-left: none;
    border-bottom: none;
    border-top: none;
  }
  section .boite:nth-child(2) {
    border-right: solid 2px #191919;
    border-top: solid 2px #191919;
    border-left: none;
    border-bottom: none;
  }
  section .boite:nth-child(3) {
    border-right: solid 2px #191919;
    border-top: solid 2px #191919;
    border-left: none;
    border-bottom: none;
  }
  section .boite:nth-child(4) {
    border-right: solid 2px #191919;
    border-left: none;
    border-bottom: none;
    border-top: none;
  }
  section .boite:nth-child(5) {
    border-right: solid 2px #191919;
    border-top: solid 2px #191919;
    border-bottom: solid 2px #191919;
    border-left: none;
  }
  section .boite:nth-child(6) {
    border-right: solid 2px #191919;
    border-top: solid 2px #191919;
    border-left: none;
    border-bottom: none;
  }
  section .boite:nth-child(7) {
    border-right: solid 2px #191919;
    border-top: solid 2px #191919;
    border-bottom: solid 2px #191919;
    border-left: none;
  }
}

.infos {
  display: flex;
  width: 100%;
  height: 6vh;
  font-size: 20px;
  justify-content: flex-start;
  border-bottom: 2px solid #191919;
  border-right: 2px solid #191919;
  margin-top: 70px;
}
@media (min-width: 800px) {
  .infos {
    display: flex;
    width: 100%;
    height: 6vh;
    font-size: 20px;
    justify-content: flex-start;
    border-bottom: 2px solid #191919;
    border-right: 2px solid #191919;
    margin-top: 0;
  }
}
.infos .content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
@media (min-width: 800px) {
  .infos .content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
}
.infos .content .marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
@media (min-width: 800px) {
  .infos .content .marquee {
    width: 93%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
}
.infos .content .marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 80s linear infinite;
          animation: marquee 80s linear infinite;
}
@media (min-width: 800px) {
  .infos .content .marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 40s linear infinite;
            animation: marquee 40s linear infinite;
  }
}
.infos .content .marquee2 span {
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}
@media (min-width: 800px) {
  .infos .content .marquee2 span {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

main .boite:nth-child(1) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}
main .boite:nth-child(1) .content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto;
  justify-content: space-around;
}
main .boite:nth-child(1) .content .titre {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .boite:nth-child(1) .content .titre h1 {
  font-size: 30px;
  -webkit-text-stroke: 2px #191919;
  font-weight: 900;
}
main .boite:nth-child(1) .content .titre h1 span {
  color: #D3DFF9;
}
main .boite:nth-child(1) .content .titre h1:nth-child(2) span {
  color: #fff;
}
main .boite:nth-child(1) .content .titre h1:nth-child(3) span {
  color: #626772;
}
main .boite:nth-child(1) .content .cta {
  width: 55%;
  height: 40px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 20px;
}
main .boite:nth-child(1) .content .cta .fond {
  border: 2px #191919 solid;
  background-color: #fff;
  font-size: 30px;
  height: 40px;
  width: 30%;
  position: absolute;
  z-index: -1;
  margin: -10px 0 0 -10px;
}
main .boite:nth-child(1) .content .cta button {
  border: 2px #191919 solid;
  background-color: #D3DFF9;
  text-transform: uppercase;
  font-size: 15px;
  height: 100%;
  width: 100%;
}
main .boite:nth-child(2) {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
main .boite:nth-child(2) svg {
  width: 70%;
  height: 70%;
  margin: -20px;
}
main .boite:nth-child(3) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .boite:nth-child(3) .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
main .boite:nth-child(3) .left img {
  width: 180px;
  height: 220px;
}
main .boite:nth-child(3) .right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
}
main .boite:nth-child(3) .right .titre {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}
main .boite:nth-child(3) .right .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  height: 80%;
  width: 85%;
}
main .boite:nth-child(3) .right .content p {
  font-size: 15px;
}
main .boite:nth-child(3) .right .content .cta {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .boite:nth-child(3) .right .content .cta a {
  color: #191919;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
}
main .boite:nth-child(3) .right .content .cta a svg {
  margin-left: 20px;
}
main .boite:nth-child(4) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
main .boite:nth-child(4) .content-bg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/f-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: flex-end;
}
main .boite:nth-child(4) .content-bg .fond {
  display: flex;
  flex-direction: column;
  background-color: #D3DFF9;
  width: 50%;
  height: 100%;
}
main .boite:nth-child(4) .content-bg .fond .space {
  height: 30%;
}
main .boite:nth-child(4) .content-bg .fond .content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
  height: 50%;
  justify-content: space-between;
}
main .boite:nth-child(4) .content-bg .fond .content .titre {
  font-size: 10px;
}
main .boite:nth-child(4) .content-bg .fond .content .txt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .boite:nth-child(4) .content-bg .fond .content .txt p {
  width: 70%;
  font-size: 15px;
}
main .boite:nth-child(4) .content-bg .fond .content .txt svg {
  margin-left: 10px;
  transform: rotate(90deg);
}
main .boite:nth-child(5) {
  width: 100%;
  border-right: 2px #191919 solid;
  display: flex;
  flex-direction: row;
}
main .boite:nth-child(5) .gauche {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: flex-end;
}
main .boite:nth-child(5) .gauche .content {
  background-image: url(../images/f-resize.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 100%;
}
main .boite:nth-child(5) .droite {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
main .boite:nth-child(5) .droite .content {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
main .boite:nth-child(5) .droite .content .titre h3 {
  font-size: 30px;
  -webkit-text-stroke: 2px #191919;
  font-weight: 900;
  text-transform: uppercase;
}
main .boite:nth-child(5) .droite .content .titre h3 span {
  color: #D3DFF9;
}
main .boite:nth-child(5) .droite .content .txt h2 {
  font-size: 20px;
  width: 70%;
  margin-bottom: 20px;
}
main .boite:nth-child(5) .droite .content .cta {
  display: none;
}
main .boite:nth-child(6) {
  width: 100%;
  height: 100%;
}
main .boite:nth-child(6) .content {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .boite:nth-child(6) .content img {
  border-radius: 50% 50% 0 0;
  width: 100%;
  height: 70%;
}
main .boite:nth-child(6) .content .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}
main .boite:nth-child(6) .content .content p {
  width: 100%;
  margin-bottom: 10px;
}
main .boite:nth-child(7) {
  display: none;
}
@media (min-width: 800px) {
  main .boite:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  main .boite:nth-child(1) .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
    justify-content: space-around;
  }
  main .boite:nth-child(1) .content .titre {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  main .boite:nth-child(1) .content .titre h1 {
    font-size: 70px;
    -webkit-text-stroke: 2px #191919;
    font-weight: 900;
  }
  main .boite:nth-child(1) .content .titre h1 span {
    color: #D3DFF9;
  }
  main .boite:nth-child(1) .content .titre h1:nth-child(2) span {
    color: #fff;
  }
  main .boite:nth-child(1) .content .titre h1:nth-child(3) span {
    color: #626772;
  }
  main .boite:nth-child(1) .content .cta {
    width: 35%;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 0;
  }
  main .boite:nth-child(1) .content .cta .fond {
    border: 2px #191919 solid;
    background-color: #fff;
    font-size: 30px;
    height: 60px;
    width: 15.5%;
    position: absolute;
    z-index: -1;
    margin: -10px 0 0 -10px;
  }
  main .boite:nth-child(1) .content .cta button {
    border: 2px #191919 solid;
    background-color: #D3DFF9;
    text-transform: uppercase;
    font-size: 25px;
    height: 100%;
    width: 100%;
  }
  main .boite:nth-child(2) {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  main .boite:nth-child(2) svg {
    width: 70%;
    height: 70%;
    margin: -20px;
  }
  main .boite:nth-child(3) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .boite:nth-child(3) .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  main .boite:nth-child(3) .left img {
    width: 180px;
    height: 220px;
  }
  main .boite:nth-child(3) .right {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
  }
  main .boite:nth-child(3) .right .titre {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
  }
  main .boite:nth-child(3) .right .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    height: 80%;
    width: 85%;
  }
  main .boite:nth-child(3) .right .content .cta {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  main .boite:nth-child(3) .right .content .cta a {
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  main .boite:nth-child(3) .right .content .cta a svg {
    margin-left: 20px;
  }
  main .boite:nth-child(4) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  main .boite:nth-child(4) .content-bg {
    display: flex;
    position: relative;
    width: 85%;
    height: 93%;
    background-image: url(../images/f-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-end;
  }
  main .boite:nth-child(4) .content-bg .fond {
    display: flex;
    flex-direction: column;
    background-color: #D3DFF9;
    width: 50%;
    height: 35%;
  }
  main .boite:nth-child(4) .content-bg .fond .space {
    height: 30%;
  }
  main .boite:nth-child(4) .content-bg .fond .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    height: 50%;
    justify-content: space-between;
  }
  main .boite:nth-child(4) .content-bg .fond .content .titre {
    font-size: 10px;
  }
  main .boite:nth-child(4) .content-bg .fond .content .txt {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .boite:nth-child(4) .content-bg .fond .content .txt p {
    width: 70%;
    font-size: 15px;
  }
  main .boite:nth-child(4) .content-bg .fond .content .txt svg {
    margin-left: 10px;
    transform: rotate(90deg);
  }
  main .boite:nth-child(5) {
    width: 100%;
    border-right: 2px #191919 solid;
    display: flex;
    flex-direction: row;
  }
  main .boite:nth-child(5) .gauche {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: flex-end;
  }
  main .boite:nth-child(5) .gauche .content {
    background-image: url(../images/f-resize.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 100%;
  }
  main .boite:nth-child(5) .droite {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  main .boite:nth-child(5) .droite .content {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  main .boite:nth-child(5) .droite .content .titre h3 {
    font-size: 65px;
    -webkit-text-stroke: 2px #191919;
    font-weight: 900;
    text-transform: uppercase;
  }
  main .boite:nth-child(5) .droite .content .titre h3 span {
    color: #D3DFF9;
  }
  main .boite:nth-child(5) .droite .content .txt h2 {
    font-size: 25px;
    width: 70%;
    margin-bottom: 20px;
  }
  main .boite:nth-child(5) .droite .content .cta {
    width: 55%;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
    margin-left: 10px;
  }
  main .boite:nth-child(5) .droite .content .cta .fond {
    border: 2px #191919 solid;
    background-color: #fff;
    font-size: 30px;
    height: 60px;
    width: 12%;
    position: absolute;
    z-index: -1;
    margin: -10px 0 0 -10px;
  }
  main .boite:nth-child(5) .droite .content .cta button {
    border: 2px #191919 solid;
    background-color: #D3DFF9;
    text-transform: uppercase;
    font-size: 25px;
    height: 100%;
    width: 100%;
  }
  main .boite:nth-child(6) {
    width: 100%;
    height: 100%;
  }
  main .boite:nth-child(6) .content {
    width: 60%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  main .boite:nth-child(6) .content img {
    border-radius: 50% 50% 0 0;
    width: 100%;
    height: 60%;
  }
  main .boite:nth-child(6) .content .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-left: 0px;
  }
  main .boite:nth-child(6) .content .content p {
    width: 90%;
    margin-bottom: 10px;
  }
  main .boite:nth-child(7) {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .boite:nth-child(7) .cercle {
    width: 35%;
    height: 65%;
    background-color: #626772;
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */